.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.allTodos {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.singleTodo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 950px;
  align-items: center;
}

.todoText {
  text-align: start;
  flex: 1;
}

.inputText {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  border: "none";
  font-size: 20px;
  display: inherit;
  margin-bottom: 15px;
}

.buttonHome {
  padding: 12px;
  border-radius: 25px;
  font-size: 15px;
  margin-left: 20px;
}


